<div class="w-full h-screen flex flex-col items-center pt-5 gap-5">


    <!--Employees SECTION-->
    <div class="w-11/12 h-auto bg-white shadow-xl p-8 rounded-3xl border border-gray-200 cursor-pointer">

        <h1 class="text-3xl font-bold text-gray-800 mb-6">Personal</h1>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

            <!-- Total empleados -->
            <div class="bg-linear-to-br from-blue-50 to-blue-100 p-6 rounded-xl border-l-4 border-blue-500">
                <p class="text-sm text-gray-600 font-medium mb-2">Total personas</p>
                <p class="text-4xl font-bold text-gray-800">{{ employeesTotal }}</p>
            </div>

            <button
                class="mt-4 self-end inline-flex items-center gap-2
                    px-4 py-2 text-sm font-semibold bg-blue-100
                    text-black  border-l-8 border-blue-500 rounded-full cursor-pointer
                    "
            >
                + Agregar persona
            </button>

        </div>

    </div>

    <div class="w-11/12 h-auto bg-white  p-8 rounded-3xl border border-gray-200 flex justify-center">

        <div class="w-full  h-auto grid grid-cols-4 gap-4 cursor-pointer">


            @for (item of employees; track $index) {


            <div
                class="h-40 rounded-3xl p-4 cursor-pointer"
                [ngClass]="{
                    'bg-green-100': item.isAvailable,
                    'bg-red-100': !item.isAvailable
                }"
            >

                <h3 class="text-m font-semibold text-gray-800 tracking-wide">{{item.firstName}} {{item.lastName}}</h3>

                @if (item.isAvailable === true) {


                <span class="inline-flex items-center px-3 py-1 mt-2 text-sm font-medium
                        rounded-full bg-green-500 text-black">Disponible</span>

                }
                @else {

                <span class="inline-flex items-center px-3 py-1 mt-2 text-sm font-medium
                        rounded-full bg-green-500 text-black">No Disponible</span>

                }

                <span class="inline-flex items-center px-3 py-1 mt-2 ml-2 text-sm font-medium
                        rounded-full bg-green-500 text-black">{{ item.base }}</span>


                <span class="inline-flex items-center px-3 py-1 mt-2 text-sm font-medium
                        rounded-full bg-green-500 text-black">{{ item.position }}</span>




            </div>

            }




        </div>


    </div>


</div>